/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    color :deeppink
}
body {background-color:blanchedalmond;
     border:2px solid hotpink;
     border-radius: 12px;
}

.p2 { text-align: center;
    color: deeppink;
}

ul {list-style-type:none;
    background-color :lightcyan;
    border : 4px solid olivedrab
}

li {display: inline;
}